@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors duration-150;
  }
}

body {
  background-color: theme('colors.background');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
